schema_version = 1
name = "[[ device_name ]]"
label = "[[ device_label ]]"
packages = [[ packages | tojson ]]

[[ "[[" ]]groups[[ "]]" ]]
name = "[[ ui_group_name ]]"
label = "[[ ui_group_label ]]"
plugins = [[ ui_plugins | tojson ]]
enabled_key = "plugin_group_enabled.[[ ui_group_name ]]"

[[ "[[" ]]groups[[ "]]" ]]
name = "[[ backend_group_name ]]"
label = "[[ backend_group_label ]]"
plugins = [[ backend_plugins | tojson ]]
enabled_key = "plugin_group_enabled.[[ backend_group_name ]]"
